<div class="search">
  <%= form_with url: tasks_path, method: :get, local: true do |form| %>

  <%= form.label :name, t('view.task_name') %>
  <%= form.text_field :name_search, placeholder: t('view.search_with_task_name') %>

  <%= form.label :status, t('view.task_status') %>
  <%= form.select :status_search, [ t('view.not_yet_started'), t('view.in_progress'), t('view.completed') ], include_blank: t('view.please_select') %>

  <%= form.hidden_field :search, value: 'true' %>
  <%= form.submit (t('helpers.submit.search')) %>
  <% end %>
</div>

<h1><%= t('view.task_list') %></h1>
<table class="table">
  <thead> 
    <tr>
      <th scope="col"><%= t('view.task_name') %></th>
      <th scope="col"><%= t('view.task_created_at') %></th>
      <th scope="col"><%= link_to t('view.task_deadline'), tasks_path(sort_expired: "true") %></th>
      <th scope="col"><%= t('view.task_status') %></th>
      <th scope="col"><%= link_to t('view.task_priority'), tasks_path(sort_priority: "true") %></th>
      <th colspan="1" scope="col">編集機能</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td class="task_row"><%= task.name %></td>
      <td ><%= task.created_at %></td>
      <td class="deadline_row"><%= task.deadline %></td>
      <td><%= task.status %></td>
      <td><%= task.priority %></td>
      <td><%= link_to t('view.check_detail'), task_path(task.id), class: "btn btn-primary" %>
        <%= link_to t('view.edit_task'), edit_task_path(task.id), class: "btn btn-success" %>
        <%= link_to t('view.delete_task'), task_path(task.id), method: :delete, data: { confirm: t('view.confirm') }, class: "btn btn-danger" %></td>
      </tr>

      <% end %>
    </tbody>
  </table>

  <div class="btn-outline-info">
    <%= link_to t('view.create_new_task'), new_task_path, class: "btn btn-primary"  %>
  </div>
  <div class="text-center"> 
    <ul class="pagination"> 
      <%= paginate @tasks %> 
    </ul>
  </div>
</div>
