<h1><%= t('view.task_list') %></h1>
<p><%= notice %></p>
<table>
  <tr>
    <th><%= t('view.task_name') %></th>
    <th><%= t('view.task_created_at') %></th>
  </tr>
<% @task.each do |task| %>
  <tr>
    <td class="task_row"><%= task.name %></td>
    <td ><%= task.created_at %></td>
    <td><%= link_to t('view.check_detail'), task_path(task.id) %></td>
    <td><%= link_to t('view.edit_task'), edit_task_path(task.id) %></td>
    <td><%= link_to t('view.delete_task'), task_path(task.id), method: :delete,data: { confirm: t('view.confirm') } %></td>
  </tr>
<% end %>
</table>
<%= link_to t('view.create_new_task'), new_task_path %>
