<h1>タスク詳細画面</h1>
<p><%= t('view.task_name') %>: <%= @task.name %></p>
<p><%= t('view.task_description') %>: <%= @task.description %></p>
<p><%= t('view.task_deadline') %>: <%= @task.deadline %></p>
<p><%= t('view.task_status') %>: <%= @task.status %></p>
<p><%= t('view.task_priority') %>: <%= @task.priority %></p>
<p><%= t('view.label') %>:
  <% @task.labels.each do |label| %>
  <%= label.name %>
  <% end %>

<%= link_to 'タスク一覧画面に戻る', tasks_path %>
