<h3>Account Information</h3>
  <p>Name:<%= @user.name %></p>
  <p>Email:<%= @user.email %></p>
  <p>Task:<%= @user.tasks.size %></p>
  <p>Admin:<%= @user.admin %></p>

<%= link_to t('view.create_new_task'), new_task_path %><br>
<%= link_to t('view.task_list'), tasks_path %>
