<h3>ユーザーの詳細
<hr>
<p>ID:<%= @user.id %></p>
<p><%= t('view.name') %>:<%= @user.name %></p>
<p><%= t('view.email') %>:<%= @user.email %></p>
<p><%= t('admin.administrative_authority') %>:<%= @user.admin? ? 'あり' : 'なし'%></p>
<br>
<p><%= t('view.task_list') %></p>
<table class="table">
  <thead>
  <tr>
    <th scope="col"><%= t('view.task_name') %></th>
    <th scope="col"<%= t('view.content') %></th>
  </tr>
</thead>

  <% @tasks.each do |task| %>
    <tr class = "task_row">
      <td><%= task.name %></td>
      <td><%= task.description %></td>
    </tr>
  <% end %>
</table>
</p>
<%= link_to t('view.back_admin_screen'), admin_users_path %>
