<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    </header>
    <div class="container">

      <% if logged_in? %>
        <% if current_user.admin? %>
          <%= link_to "Admin Page", admin_users_path, class:"nav-link" %>
        <% end %>
        <%= link_to "Profile", user_path(current_user.id), class:"nav-link" %>
        <%= link_to "Task List", tasks_path(current_user.id), class:"nav-link" %>
        <%= link_to "Logout", session_path(current_user.id), method: :delete, class:"nav-link" %>
      <% else %>
        <%= link_to "Sign up", new_user_path, class:"nav-link" %>
        <%= link_to "Login", new_session_path, class:"nav-link" %>
      <% end %>

    <%= notice %>
    <%= yield %>
    </div>
  </body>
</html>
